<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Graphify Express</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="chart-title">
        <img src="{{ url_for('static', filename='dalga.png') }}" alt="Logo" />
        <h1>Dashboard</h1>
      </div>

      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Excel Dosyası Yükleyin (.xlsx):</label>
          <input
            type="file"
            class="form-control-file"
            id="file"
            name="file"
            accept=".xlsx"
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Grafikleri Oluştur
        </button>
      </form>

      <div class="row">
        {% if charts %} {% for chart in charts %}
        <div class="col-md-6">
          <div class="chart-container">{{ chart|safe }}</div>
        </div>
        {% endfor %} {% else %} {% endif %}
      </div>
    </div>
  </body>
</html>
